  .container {
    max-width: 1158px;
  }

/* HEADER */

.header {
	background-color: var(--white-background);
	border-bottom: 1px solid var(--accent);
	padding-top: 24px;
	padding-bottom: 24px;
	box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.address-list {
	display: flex;
	align-items: center;
	margin-right: auto;
	gap: 40px;
}
.address-tel-link {
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
}
.address-mail-link {
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
} 

/* HERO */

.hero-section {
  max-width: 1440px;
	background-color: var(--primary-text-color);
	background-image: var(--hero-bg), url(../images/hero-img1.jpg);
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: cover;
	padding-top: 188px;
	padding-bottom: 188px;
	margin: 0 auto;
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
	.hero-section {
		background-image: var(--hero-bg), url(../images/hero-bg-desc2x.jpg);
	}
}

.hero-subject {
	margin-bottom: 48px;
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--pressed-state); 
}

/* SECTION FEATURE*/

.section-feature {
    padding-top: 120px;
}

.feature-container {
    background-color: var(--light);
    border-radius: 4px;
    width: 264px;
    height: 112px;
}

.feature-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-bottom: 8px;
}

.feature-icon {
    width: 64px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.feature-list {
    display: flex;
    margin-right: auto;
    gap: 24px;
}
.feature-item {
    width: calc((100% - 72px) / 4);
}
.feature-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}
.feature-subtitle {
    font-size: 16px;
    line-height: 1.5;
}

/* IMAGES */

.images {
    padding-top: 120px;
    padding-bottom: 120px;
    box-sizing: content-box;
}

.section-img {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--primary-text-color);
    margin-bottom: 72px;
}

.section-list {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.images-item {
    width: calc((100% - 48) / 3);
} 

/* OUR TEAM */

.container {
	max-width: 1158px;
	width: 100%;
}
.team {
    background-color: var(--light);
    padding-top: 120px;
    padding-bottom: 120px;
}

.team-list {   
    display: flex;
    gap: 24px;
} 

.team-item {
    background-color: #ffffff;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}

/* SECTION BUTTON META*/

.meta-section {
    padding-top: 96px;
    padding-bottom: 120px;
}

/* .hidden-navigation {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
} */

.meta-btn {
    display: flex;
    justify-content: center;
    gap: 24px;
    align-items: center;
    text-align: center;
    margin-bottom: 72px;
}  

.btn {
	  width: 100%;
	  height: 48px;
    font-family:'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    color: var(--button-color);
    background-color: var(--light);
    display: block;
    border: 1px solid var(--accent);
    border-radius: 4px;
    padding: 12px 24px;
    transition-property: background-color, color, box-shadow, border-color;
    transition-duration: var(--time);
    transition-timing-function: var(--timing-function);
} 

.btn:hover,
.btn:focus {
    background-color: var(--pressed-state);
    color: var(--white-background);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
    border-color: transparent;
} 

.list {
    list-style: none; 
} 

/* WORK */

.work-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
    align-items: flex-start;
}

.work-item {
    width: calc((100% - 48px) / 3);
}

.work-cover-wrap {
    position: relative;
    overflow: hidden;
}

.work-cover-text {
    position: absolute;
    top: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--light);
    background: var(--button-color);
    height: 100%;
    padding: 40px 32px 164px;
    transform: translateY(100%);
    transition: transform var(--time) var(--timing-function);
}

.work-link {
    display: block;
    transition-property: box-shadow;
    transition-duration: var(--time);
    transition-timing-function: var(--timing-function);
}

.work-link:hover,
.work-link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.work-link:hover .work-cover-text {
    transform: translate(0);
}

/* .work-aside {
    padding: 0px 16px;
    gap: 8px;
    padding-top: 32px;
    padding-bottom: 32px;
    border: 1px solid var(--accent);
} */

/* .title-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    margin-bottom: 8px;
} */

/* .subtitle-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
} */

/* CUSTOMERS */

.client {
    background-color: var(--modal-backgraund);
    padding-top: 120px;
    padding-bottom: 120px;
}

.client-soc-list {
    display: flex;
		flex-wrap: nowrap;
    justify-content: center;
    gap: 24px;
}
.client-soc-item {
    width: 168px;
    height: 88px;
}

/* FOOTER */

.footer {
	padding-top: 100px;
	padding-bottom: 100px;
}

.footer>.container {
	display: flex;
}
.footer-aside {
    margin-left: 120px;
} 

.footer-soc-link:hover,
.footer-soc-link:focus {
    background-color: var(--green);
}

/* FOOTER FORM */

.container-form {
		margin-left: 80px;
}
.content {
	width: 264px;
	height: 72px;
}
.footer-form {
  display: flex;
	justify-content: center;
}  

.footer-input::placeholder {
    color: var(--white-background);
} 

.footer-btn:focus {
  background-color: var(--pressed-state);
}

@media screen and (min-width: 1158px) {
	.footer>.container,
	.client>.container, .team > .container {
		max-width: 1128px;
		width: 100%;
	}
}

       /* MODAL */




