  .container {
    max-width: 1158px;
  }

		/* @media screen and (min-width: 1158px) {
	
			.client>.container,
			.footer>.container {
				max-width: 1128px;
			}
		} */

/* HEADER */

.address-list {
	display: flex;
	align-items: center;
	margin-right: auto;
	gap: 40px;
}
.address-tel-link {
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
}
.address-mail-link {
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
} 

/* HERO */

.hero-section {
  max-width: 1440px;
	background-color: var(--primary-text-color);
	background-image: var(--hero-bg), url(../images/hero-img1.jpg);
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: cover;
	padding-top: 188px;
	padding-bottom: 188px;
	margin: 0 auto;
}
@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
	.hero-section {
		background-image: var(--hero-bg), url(../images/hero-bg-desc2x.jpg);
	}
}
.hero-subject {
	margin-bottom: 48px;
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--pressed-state); 
}

/* SECTION FEATURE*/
.section-feature {
    padding-top: 120px;
}

.feature-container {
    background-color: var(--light);
    border-radius: 4px;
    width: 264px;
    height: 112px;
}
.feature-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-bottom: 8px;
}

.feature-icon {
    width: 64px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.feature-list {
    display: flex;
    margin-right: auto;
    gap: 24px;
}
.feature-item {
    width: calc((100% - 72px) / 4);
}
.feature-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}
.feature-subtitle {
    font-size: 16px;
    line-height: 1.5;
}

/* IMAGES */
.images {
    padding-top: 120px;
    padding-bottom: 120px;
    box-sizing: content-box;
}
.section-img {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--primary-text-color);
    margin-bottom: 72px;
}
.section-list {
    display: flex;
    gap: 24px;
    justify-content: center;
}
.images-item {
    width: calc((100% - 48) / 3);
} 

/* OUR TEAM */
.container {
	max-width: 1158px;
	width: 100%;
}
.team {
    background-color: var(--light);
    padding-top: 120px;
    padding-bottom: 120px;
}


.team-list {   
    display: flex;
    gap: 24px;
} 

.team-item {
    background-color: #ffffff;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}



/* SECTION BUTTON META*/
.meta-section {
    padding-top: 96px;
    padding-bottom: 120px;
}
.hidden-navigation {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.meta-btn {
    display: flex;
    justify-content: center;
    gap: 24px;
    align-items: center;
    text-align: center;
    margin-bottom: 72px;

}
.btn {
    font-family:'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    color: var(--button-color);
    background-color: var(--light);
    display: block;
    border: 1px solid var(--accent);
    border-radius: 4px;
    padding: 12px 24px;
    transition-property: background-color, color, box-shadow, border-color;
    transition-duration: var(--time);
    transition-timing-function: var(--timing-function);
} 

.btn:hover,
.btn:focus {
    background-color: var(--pressed-state);
    color: var(--white-background);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
    border-color: transparent;
}
.list {
    list-style: none; 
}

/* WORK */

.work-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
    align-items: flex-start;
}

.work-item {
    width: calc((100% - 48px) / 3);
}

.work-cover-wrap {
    position: relative;
    overflow: hidden;
}
.work-cover-text {
    position: absolute;
    top: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--light);
    background: var(--button-color);
    height: 100%;
    padding: 40px 32px 164px;
    transform: translateY(100%);
    transition: transform var(--time) var(--timing-function);
}
.work-link {
    display: block;
    transition-property: box-shadow;
    transition-duration: var(--time);
    transition-timing-function: var(--timing-function);
}
.work-link:hover,
.work-link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.work-link:hover .work-cover-text {
    transform: translate(0);
}
.work-aside {
    padding: 0px 16px;
    gap: 8px;
    padding-top: 32px;
    padding-bottom: 32px;
    border: 1px solid var(--accent);
}

.title-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    margin-bottom: 8px;
}

.subtitle-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}
/* CUSTOMERS */

.client {
    background-color: var(--modal-backgraund);
    padding-top: 120px;
    padding-bottom: 120px;
}

.client-soc-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}
.client-soc-item {
    width: 168px;
    height: 88px;
}

/* FOOTER */
.footer {
	padding-top: 100px;
	padding-bottom: 100px;
}

.footer>.container {
	display: flex;
}
.footer-aside {
    margin-left: 120px;
} 

.footer-soc-link:hover,
.footer-soc-link:focus {
    background-color: var(--green);
}

/* FOOTER FORM */

.container-form {
		margin-left: 80px;
}

.footer-form {
		display: flex;
		align-items: center;
		justify-content: center;
}  

.footer-input {
		padding: 8px 16px;
		margin-right: 24px;
} 


.footer-input::placeholder {
    color: var(--white-background);
} 

.footer-btn:focus {
  background-color: var(--pressed-state);
}


       /* MODAL */
/* .backdrop {
    position: fixed;
    top: 0;
		z-index: 3;
    width: 100%;
    height: 100%;
    background: rgba(46, 47, 66, 0.4);
    transition: opacity var(--time) var(--timing-function), visibility var(--time) var(--timing-function); 
}

.modal {
    width: 408px;
    min-height: 584px;
    background-color: var(--modal-backgraund);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1) rotate(0);
    transition: transform var(--time) var(--timing-function);
    padding: 72px 24px 24px;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scaleY(0) rotate(-90deg); 
}

.modal-close-btn {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: var(--accent);
    color: var(--primary-text-color);
    position: absolute;
    top: 24px;
    right: 24px;
    transition-property: color, background-color;
    transition-duration: var(--time);
    transition-timing-function: var(--timing-function);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    color: #ffffff;
    background-color: var(--pressed-state);

}
.modal-icon-btn {
  width: 100%;
  height: 100%;
  fill: currentColor;
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em; 
  color: var(--primary-text-color);
  margin-bottom: 16px;
}
.modal-field {
  margin-bottom: 8px;
}
.input-wrap {
  position: relative;
  border-radius: 4px;
}
.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(57, 58, 83, 0.4);
  border-radius: 4px;
  font-family: 'Roboto';
  font-style: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  padding-left: 38px;
  outline: transparent;
  transition-property: border-color;
  transition-duration: var(--time);
  transition-timing-function: var(--timing-function);
} 

.modal-input:focus {
  border-color: var(--button-color);
}

.modal-input:focus + .input-icon {
  fill: var(--button-color);
}

.input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--dark);
}

.input-text{
  display: block;
  margin-bottom: 4px;
  font-family: 'Roboto';
  font-style: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--subtle-text);
}

.modal-textarea {
	margin-bottom: 16px;
}

.user-textarea {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(57, 58, 83, 0.4);
  border-radius: 4px;
  font-family: 'Roboto';
  font-style: normal;
	display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  outline: transparent;
  padding: 8px 16px;
  color: var(--primary-text-color);
  resize: none;
}

.user-text {
  margin-bottom: 4px;
  font-family: 'Roboto';
  font-style: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--dark);
}

.modal-check {
	margin-bottom: 24px;
}

.check-text {
  font-family: 'Roboto';
  font-style: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--subtle-text);
  display: flex;
  align-items: center;
}

.check-text span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.input-check:checked + .check-text span {
  background-color: var(--pressed-state);
  border: none;
  border-radius: 2px;
}
.input-check:focus + .check-text span {
  border-color: var(--button-color); 
}

.check-link {
  font-family: 'Roboto';
  font-style: normal;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  text-decoration-line: underline;
  color: var(--button-color);
} 

.input-button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: var(--white-background);
  background-color: var(--button-color);
  border-radius: 4px;
  display: block;
  min-width: 169px;
	min-height: 56px;
  margin: 0 auto;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition-property: background-color;
  transition-duration: var(--time);
  transition-timing-function: var(--timing-function);
}

.input-button:hover,
.input-button:focus {
  background-color: var(--pressed-state); 
}  */



