
    /* основной бренд  #4d5ae5  Primary brand*/
    /* нажатое состояние #404bbf  Pressed state*/
    /* темній #2e2f42  Dark */
    /* успех #31D0AA Success*/
    /* текст #434455 Text*/
    /* тонкий текст #8e8f99 Subtle Text*/
    /* фкцент #e7e9fc Accent*/
    /* свет #f4f4fd Light */
    /* модальное наложение navy blue modal #2e2f42 Modal overlay*/
    /* предістория героя grey #2e2f42 Hero background*/
    /* белій фон #ffffff White background*/
    /* модальній фон dairy #fcfcfc Modal background*/

:root {
    /* H 1 2 3 */
    --primary-text-color: #2E2F42;
    /* P */
    --title-text-color: #434455;
    /* BTN */
    --button-color: #4D5AE5;
    /* WHITE BACKGROUND */
    --white-background: #ffffff;
    /* MODAL BACKGRAUND */
    --modal-backgraund: #fcfcfc;
    /* HERO BACKGROUND */
    --hero-background: #2e2f42;
    /* LIGHT */
    --light: #f4f4fd;
    /* ACCENT */
    --accent: #e7e9fc;
    /* Subtle Text */
    --subtle-text: #8e8f99;
    /* Success */
    --success: #31D0AA;
    /* Dark */
    --dark: #2e2f42;
    /* Pressed state */
    --pressed-state: #404bbf;
    --hero-bg: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7));
    /* BORDER CLIENT */
    --client: rgba(142, 143, 153, 1);
    /* footer-hover */
    --green: #31D0AA;
    --time: 250ms;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

p,h1,h2,h3,h4,h5,h6 {
    margin: 0;
}
ul {
    margin: 0;
    padding-left: 0;
} 

img {
    display: block;
    max-width: 100%;
    height: auto;
}
body {
font-family: 'Roboto', sans-serif;
color: var(--title-text-color);
background-color: var(--white-background);
font-style: normal;
}

.list {
    list-style: none;
}
.link {
    text-decoration: none;
}
.no-scroll {
    overflow: hidden;
}

a {
    text-decoration: none;
    margin: 0 auto;
}
.container {
    width: 1158px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
    /* outline: 2px solid red;  */
}
/* HEADER */
.header {
    background-color: var(--white-background);
    border-bottom: 1px solid var(--accent);
    padding-top: 24px;
    padding-bottom: 24px;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-navigation {
    display: flex;
    align-items: center;
    margin-right: auto;
}
.header-container {
    display: flex;
}
.header-list {
    display: flex;
    gap: 40px;
}
.logo {
    margin-right: 76px;
}

.header-navigation .logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-style: normal;
    color: var(--button-color);

}
.header-navigation .logos {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-style: normal;
    color: var(--primary-text-color);
}
.header-list .link {
    position: relative;
}

.header-list {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--primary-text-color);
    transition: color var(--transition-dur-and-func);
}
.header-list:hover,
.header-list:focus {
    color: var(--pressed-state);
}
.active {
    color: var(--pressed-state);
}
.active::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0px;
    bottom: -25px;
    background-color: var(--pressed-state);
    border-radius: 2px;
}

.active {
    color: var(--pressed-state);
}

.address {
    font-style: normal;
}
.address-list {
    display: flex;
    align-items: center;
    margin-right: auto;
    gap: 40px;
}
.address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:var(--title-text-color);
    transition-property: color;
    transition-duration: var(--time);
    transition-timing-function: var(--timing-function);
}

.address-link:hover,
.address-link:focus {
    color: var(--pressed-state);
}
/* HERO */

.hero-section {
    max-width: 1440px;
    background-color: var(--primary-text-color);
    background-image: var(--hero-bg), url(../images/hero-img1.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    padding-top: 188px;
    padding-bottom: 188px;
    margin: 0 auto;
}

.hero-subject {
    width: 496px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--white-background);
    margin: 0 auto;
    margin-bottom: 48px;
}

.hero-btn {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    color: var(--white-background);
    background-color: var(--button-color);
    border-radius: 4px;
    display: block;
    margin: 0 auto;
    padding: 16px 32px;
    border: 1px solid transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition-property: background-color;
    transition-duration: var(--time);
    transition-timing-function: var(--timing-function);
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--pressed-state); 
}

/* SECTION FEATURE*/
.section-feature {
    padding-top: 120px;
}
.hidden-feature {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.feature-container {
    background-color: var(--light);
    border-radius: 4px;
    width: 264px;
    height: 112px;
}
.feature-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-bottom: 8px;
}
.feature-icon {
    width: 64px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.feature-list {
    display: flex;
    margin-right: auto;
    gap: 24px;
}
.feature-item {
    width: calc((100% - 72px) / 4);
}
.feature-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    margin-bottom: 8px;
}
.feature-subtitle {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}

/* IMAGES */
.images {
    padding-top: 120px;
    padding-bottom: 120px;
    box-sizing: content-box;
}

.section-img {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--primary-text-color);
    margin-bottom: 72px;
}
.section-list {
    display: flex;
    gap: 24px;
    justify-content: center;
}
.images-item {
    width: calc((100% - 48) / 3);
} 

/* OUR TEAM */
.team {
    background-color: var(--light);
    padding-top: 120px;
    padding-bottom: 120px;
}
.team-list {   
    display: flex;
    gap: 24px;
}
.team-titl {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--primary-text-color);
    margin-bottom: 72px;
}
.team-item {
    background-color: #ffffff;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}
.team-aside {
    padding: 32px 16px;
    text-align: center;

}
.team-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    margin-bottom: 8px;
}
.team-subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    margin-bottom: 8px;
}
.team-soc-list {
    display: flex;
    justify-content: center;
    gap: 24px ;
}

.team-soc-item {
    width: 40px;
    height: 40px;
}

.team-soc-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--button-color);
    display: flex;
    align-items: center;
    justify-content: center;
    transition-property: background-color;
    transition-duration: var(--time);
    transition-timing-function: var(--timing-function);
}
.team-soc-icon {
    fill: var(--light);
}
.team-soc-link:hover, 
.team-soc-link:focus {
    background-color: var(--pressed-state);
}

/* SECTION BUTTON META*/
.meta-section {
    padding-top: 96px;
    padding-bottom: 120px;
}
.hidden-navigation {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.meta-btn {
    display: flex;
    justify-content: center;
    gap: 24px;
    align-items: center;
    text-align: center;
    margin-bottom: 72px;

}
.btn {
    font-family:'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    color: var(--button-color);
    background-color: var(--light);
    display: block;
    border: 1px solid var(--accent);
    border-radius: 4px;
    padding: 12px 24px;
    transition-property: background-color, color, box-shadow, border-color;
    transition-duration: var(--time);
    transition-timing-function: var(--timing-function);
} 

.btn:hover,
.btn:focus {
    background-color: var(--pressed-state);
    color: var(--white-background);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
    border-color: transparent;
}
.list {
    list-style: none; 
}

/* WORK */

.work-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
    align-items: flex-start;
}

.work-item {
    width: calc((100% - 48px) / 3);
}

.work-cover-wrap {
    position: relative;
    overflow: hidden;
}
.work-cover-text {
    position: absolute;
    top: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--light);
    background: var(--button-color);
    height: 100%;
    padding: 40px 32px 164px;
    transform: translateY(100%);
    transition: transform var(--time) var(--timing-function);
}
.work-link {
    display: block;
    transition-property: box-shadow;
    transition-duration: var(--time);
    transition-timing-function: var(--timing-function);
}
.work-link:hover,
.work-link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.work-link:hover .work-cover-text {
    transform: translate(0);
}
.work-aside {
    padding: 0px 16px;
    gap: 8px;
    padding-top: 32px;
    padding-bottom: 32px;
    border: 1px solid var(--accent);
}

.title-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    margin-bottom: 8px;
}

.subtitle-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}
/* CUSTOMERS */

.client {
    background-color: var(--modal-backgraund);
    padding-top: 120px;
    padding-bottom: 120px;
}
.client-titl {
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
margin-bottom: 72px;
}

.client-soc-list {
display: flex;
justify-content: center;
gap: 24px;
}
.client-soc-item {
    width: 168px;
    height: 88px;
}
.client-soc-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--client);
    border-radius: 4px;
    color: var(--subtle-text);
    transition-property: color, border-color;
    transition-duration: var(--time);
    transition-timing-function: var(--timing-function);
}
.client-soc-link:hover,
.client-soc-link:focus {
    border-color: var(--pressed-state);
    color: var(--pressed-state);
}

.client-soc-icon {
    fill: currentColor;
} 

/* FOOTER */
.footer {
    background-color: var(--primary-text-color);
    padding-top: 100px;
    padding-bottom: 100px;

}
.container-bottom {
    display: flex;
}
.footer .stile {
    text-transform: uppercase;
}
.footer .logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--button-color);
    text-decoration: none
}
.footer .logos {
    color: var(--light);
}
.footer .content {
    width: 264px;
    height: 72px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--accent);
    margin-top: 16px;
}

.footer-aside {
    margin-left: 120px;
} 

.footer-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--white-background);
    margin-bottom: 16px;
}

.footer-soc-list {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.footer-soc-item {
    width: 40px;
    height: 40px;
}

.footer-soc-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--button-color);
    display: flex;
    align-items: center;
    justify-content: center;
    transition-property: background-color;
    transition-duration: var(--time);
    transition-timing-function: var(--timing-function);
}
.footer-soc-link:hover,
.footer-soc-link:focus {
    background-color: var(--green);
}

/* FOOTER FORM */

.container-form {
		margin-left: 80px;
}

.form-title {
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 1.5;
		letter-spacing: 0.02em;
		color: var(--white-background);
		margin-bottom: 16px;
}

.footer-form {
		display: flex;
		align-items: center;
		justify-content: center;
}

.footer-input {
		width: 264px;
		height: 40px;
		font-style: normal;
		font-size: 12px;
		line-height: 2;
		letter-spacing: 0.04em;
		border: 1px solid #FFFFFF;
		color: #ffffff;
		filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
		border-radius: 4px;
		background: var(--hero-background);
		padding: 8px 16px;
		margin-right: 24px;
}

.footer-btn {
	  width: 165px;
	  height: 100%;
	  padding: 8px 24px;
	  background: var(--button-color);
	  border-radius: 4px;
	  border: none;
	  box-shadow: none;
	  transition-property: background-color;
	  transition-duration: var(--time);
	  transition-timing-function: var(--timing-function);
}

.footer-btn-icon {
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 1.5;
		letter-spacing: 0.04em;
		color: var(--white-background);
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 16px;
				
}

.footer-input::placeholder {
    color: var(--white-background);
} 

.footer-btn:focus {
  background-color: var(--pressed-state);
}


       /* MODAL */
.backdrop {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(46, 47, 66, 0.4);
    transition: opacity var(--time) var(--timing-function), visibility var(--time) var(--timing-function); 
}

.modal {
    width: 408px;
    min-height: 584px;
    background-color: var(--modal-backgraund);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1) rotate(0);
    transition: transform var(--time) var(--timing-function);
    padding: 72px 24px 24px;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scaleY(0) rotate(-90deg); 
}

.modal-close-btn {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: var(--accent);
    color: var(--primary-text-color);
    position: absolute;
    top: 24px;
    right: 24px;
    transition-property: color, background-color;
    transition-duration: var(--time);
    transition-timing-function: var(--timing-function);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    color: #ffffff;
    background-color: var(--pressed-state);

}
.modal-icon-btn {
  width: 100%;
  height: 100%;
  fill: currentColor;
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em; 
  color: var(--primary-text-color);
  margin-bottom: 16px;
}
.modal-field {
  margin-bottom: 8px;
}
.input-wrap {
  position: relative;
  border-radius: 4px;
}
.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(57, 58, 83, 0.4);
  border-radius: 4px;
  font-family: 'Roboto';
  font-style: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  padding-left: 38px;
  outline: transparent;
  transition-property: border-color;
  transition-duration: var(--time);
  transition-timing-function: var(--timing-function);
} 

.modal-input:focus {
  border-color: var(--button-color);
}

.modal-input:focus + .input-icon {
  fill: var(--button-color);
}

.input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--dark);
}

.input-text{
  display: block;
  margin-bottom: 4px;
  font-family: 'Roboto';
  font-style: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--subtle-text);
}

.modal-textarea {
	margin-bottom: 16px;
}

.user-textarea {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(57, 58, 83, 0.4);
  border-radius: 4px;
  font-family: 'Roboto';
  font-style: normal;
	display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  outline: transparent;
  padding: 8px 16px;
  color: var(--primary-text-color);
  resize: none;
}

.user-text {
  margin-bottom: 4px;
  font-family: 'Roboto';
  font-style: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--dark);
}

.modal-check {
	margin-bottom: 24px;
}

.check-text {
  font-family: 'Roboto';
  font-style: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--subtle-text);
  display: flex;
  align-items: center;
}

.check-text span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.input-check:checked + .check-text span {
  background-color: var(--pressed-state);
  border: none;
  border-radius: 2px;
}
.input-check:focus + .check-text span {
  border-color: var(--button-color); 
}

.check-link {
  font-family: 'Roboto';
  font-style: normal;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  text-decoration-line: underline;
  color: var(--button-color);
} 

.input-button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: var(--white-background);
  background-color: var(--button-color);
  border-radius: 4px;
  display: block;
  min-width: 169px;
	min-height: 56px;
  margin: 0 auto;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition-property: background-color;
  transition-duration: var(--time);
  transition-timing-function: var(--timing-function);
}

.input-button:hover,
.input-button:focus {
  background-color: var(--pressed-state); 
} 



