/* основной бренд  #4d5ae5  Primary brand*/
/* нажатое состояние #404bbf  Pressed state*/
/* темній #2e2f42  Dark */
/* успех #31D0AA Success*/
/* текст #434455 Text*/
/* тонкий текст #8e8f99 Subtle Text*/
/* фкцент #e7e9fc Accent*/
/* свет #f4f4fd Light */
/* модальное наложение navy blue modal #2e2f42 Modal overlay*/
/* предістория героя grey #2e2f42 Hero background*/
/* белій фон #ffffff White background*/
/* модальній фон dairy #fcfcfc Modal background*/

:root {
	/* H 1 2 3 */
	--primary-text-color: #2E2F42;
	/* P */
	--title-text-color: #434455;
	/* BTN */
	--button-color: #4D5AE5;
	/* WHITE BACKGROUND */
	--white-background: #ffffff;
	/* MODAL BACKGRAUND */
	--modal-backgraund: #fcfcfc;
	/* HERO BACKGROUND */
	--hero-background: #2e2f42;
	/* LIGHT */
	--light: #f4f4fd;
	/* ACCENT */
	--accent: #e7e9fc;
	/* Subtle Text */
	--subtle-text: #8e8f99;
	/* Success */
	--success: #31D0AA;
	/* Dark */
	--dark: #2e2f42;
	/* Pressed state */
	--pressed-state: #404bbf;
	--hero-bg: linear-gradient(rgba(46, 47, 66, 0.7),
			rgba(46, 47, 66, 0.7));
	/* BORDER CLIENT */
	--client: rgba(142, 143, 153, 1);
	/* footer-hover */
	--green: #31D0AA;
	--time: 250ms;
	--timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

ul {
	margin: 0;
	padding-left: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

body {
	font-family: 'Roboto', sans-serif;
	color: var(--title-text-color);
	background-color: var(--white-background);
	font-style: normal;
}

.list {
	list-style: none;
}

.link {
	text-decoration: none;
}

.no-scroll {
	overflow: hidden;
} 

a {
	text-decoration: none;
	margin: 0 auto;
}

.container {
	width: 1158px;
	padding-right: 15px;
	padding-left: 15px;
	margin: 0 auto;
}
/* MEDIA */

.container {
	max-width: 428px;
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}
@media screen and (min-width: 480px) {
	.container {
		max-width: 428px;
		width: 100%;
	}

}

/* HEADER */
.header {
	padding-top: 24px;
	padding-bottom: 24px;
	border-bottom: 1px solid var(--accent)
}

.header-list, .address-list {
	display: none;
} 

.header-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo {
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 1.17;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	font-style: normal;
	color: var(--button-color);
}

.logos {
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 1.17;
	align-items: center;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	font-style: normal;
	color: var(--primary-text-color);
}

.mob-menu {
	display: flex;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: var(--white-background);
	box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
	padding-left: 40px;
	padding-bottom: 40px;
	padding-right: 24px;
	z-index: 2;
	flex-direction: column;
	justify-content: space-between;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(1) rotate(0);
	transition: transform var(--time) var(--timing-function); 
} 

.is-hidden {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
}

.is-hidden { 
	transform: translate(-50%, -50%) scaleY(0) rotate(-90deg);
}  

.container-mob-menu, .container-mob-address-menu {
	position: relative;
}

.container-mob-menu{
padding-top: 80px; 
} 

.menu-open-btn {
	border-color: transparent;
	border: none;
	padding: 0;
	background-color: var(--white-background);
	line-height: 0;
	top: 24px;
	right: 24px;
}
.menu-icon-open-btn {
	width: 100%;
	height: 100%;
	stroke: #2E2F42;
}
.menu-close-btn {
	position: absolute;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	cursor: pointer;
	border: 1px solid rgba(0, 0, 0, 0.1);
	background: var(--accent);
	color: var(--primary-text-color);
	top: 24px;
	right: 24px;
}
.menu-icon-btn {
width: 100%;
height: 100%;
}

.mob-list {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.11;
	letter-spacing: 0.02em;
	text-transform: capitalize;
	color: var(--hero-background);
} 

.mob-list-item:not(:last-child) {
  margin-bottom: 40px;
}

.active {
	color: var(--pressed-state);
}

.mob-address:not(:last-child) {
	margin-bottom: 40px;
}

.mob-address-tel-link {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.11;
	letter-spacing: 0.02em;
	text-transform: capitalize;
	color: var(--button-color);
} 

.mob-address-mail-link {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	color: var(--title-text-color);
} 

.mob-address-list {
	margin-bottom: 48px;
}

.mob-soc-list {
	display: flex;
	justify-content: flex-start; 
	gap: 35px; 
	width: 328px;
	height: 40px;
} 

.mob-soc-item {
	width: 40px;
	height: 40px;
}

.mob-soc-link {
  width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: var(--button-color);
	display: flex;
	align-items: center;
	justify-content: center;
} 

/* HERO */
.hero-section {
	background-color: var(--primary-text-color);
	background-image: var(--hero-bg), url(../images/hero-bg-mob.jpg);
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: cover;
	padding-top: 112px;
	padding-bottom: 112px;
	margin: 0 auto;
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
	.hero-section {
		background-image: var(--hero-bg), url(../images/hero-bg-mob2x.jpg);
	}
}

.hero-subject {
	width: 320px;
	font-weight: 700;
	font-size: 36px;
	line-height: 1.11;
	letter-spacing: 0.02em;
	text-align: center;
	color: var(--white-background);
	margin: 0 auto;
	margin-bottom: 72px;
}

.hero-btn {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.04em;
	cursor: pointer;
	color: var(--white-background);
	background-color: var(--button-color);
	border-radius: 4px;
	display: block;
	margin: 0 auto;
	padding: 16px 32px;
	border: 1px solid transparent;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	transition-property: background-color;
	transition-duration: var(--time);
	transition-timing-function: var(--timing-function);
}

/* SECTION FEATURE*/

.section-feature {
	padding-top: 96px;
	padding-bottom: 96px;
}

.hidden-feature {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.feature-container {
	display: none;
}
@media screen and (max-width: 767px) {
.feature-item {
		margin-bottom: 72px;
	}

	.feature-item:last-child {
		margin-bottom: 0;
	}
}

.feature-title {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.11;
	text-align: center;
	letter-spacing: 0.02em;
	color: var(--primary-text-color);
	margin-bottom: 8px;
}
.feature-subtitle {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: var(--title-text-color);
}


/* IMAGES */

@media screen and (max-width: 1157px) {
	.images {
		display: none;
	}
}

/* OUR TEAM */
.team {
	background-color: var(--light);
	padding-top: 96px;
	padding-bottom: 96px;
}
.team-titl {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.11;
	text-align: center;
	letter-spacing: 0.02em;
	text-transform: capitalize;
	color: var(--primary-text-color);
	margin-bottom: 72px;
}

.team-item {
	width: 264px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 72px;
	background-color: #ffffff;
	border-radius: 0px 0px 4px 4px;
} 

@media screen and (max-width: 1157px) {
.team-item {
		margin-bottom: 72px;
	}

	.team-item:last-child {
		margin-bottom: 0;
	}
}

.team-soc-item {
	width: 40px;
	height: 40px;
}

.team-aside {
	padding: 32px 16px;
	text-align: center;

}
.team-title {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	color: var(--primary-text-color);
	margin-bottom: 8px;
}

.team-subtitle {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: var(--title-text-color);
	margin-bottom: 8px;
}

.team-soc-list {
	display: flex;
	justify-content: center;
	gap: 64px 24px;
	
}

.team-soc-link {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: var(--button-color);
	display: flex;
	align-items: center;
	justify-content: center;
	transition-property: background-color;
	transition-duration: var(--time);
	transition-timing-function: var(--timing-function);
}

.team-soc-icon {
    fill: var(--light);
}

/* CUSTOMERS */

.client {
	background-color: var(--modal-backgraund);
	padding-top: 96px;
	padding-bottom: 96px;
}

.client-titl {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-size: 36px;
	line-height: 1.11;
	text-align: center;
	letter-spacing: 0.02em;
	text-transform: capitalize;
	margin-bottom: 72px;
}

.client-soc-list {
	display: flex; 
	flex-wrap: wrap; 
	justify-content: center;
	gap: 72px 16px;
}  

.client-soc-item {
	width: calc((100% - 16px) / 2);
}

.client-soc-link {
	width: 100%;
	height: 88px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid var(--client);
	border-radius: 4px;
	color: var(--subtle-text);
	transition-property: color, border-color;
	transition-duration: var(--time);
	transition-timing-function: var(--timing-function);
}

.client-soc-icon {
	fill: currentColor;
}

/* FOOTER */

.footer {
	background-color: var(--primary-text-color);
	padding-top: 96px;
	padding-bottom: 96px;
}
/* .footer > .container {
	display: flex;
	flex-direction: column;

	gap: 72px;
} */

.footer .stile {
	text-transform: uppercase;
}   

.footer .logo {
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 1.17;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--button-color);
	text-decoration: none;
}

.footer .logos {
	color: var(--light);
}

@media screen and (max-width: 1200px) and (max-width: 768px){
	/* .content {
		margin-bottom: 72px;
	} */

	/* .footer-soc-list {
		margin-bottom: 72px;
	} */

	.footer-btn {
		margin-top: 16px;
	}
}

@media screen and (min-width: 767px) {
	.footer-input {
			margin-right: 24px;
		}
}

.content {
	width: 268px;
	height: 72px;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: var(--accent);
	margin-top: 16px;
	margin-right: auto;
	margin-left: auto;
}

.footer-aside > .footer-title {
  margin-bottom: 16px;
}

.footer-title {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: var(--white-background);
}

.footer-soc-list {
	display: flex;
	justify-content: center;
	gap: 16px;
}

.footer-soc-item {
	width: 40px;
	height: 40px;
}

.footer-soc-link {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: var(--button-color);
	display: flex;
	align-items: center;
	justify-content: center;
	transition-property: background-color;
	transition-duration: var(--time);
	transition-timing-function: var(--timing-function);
}

/* FOOTER FORM */

.footer-input {
	width: 100%;
	height: 100%;
	font-style: normal;
	font-size: 12px;
	line-height: 2;
	letter-spacing: 0.04em;
	border: 1px solid #FFFFFF;
	color: #ffffff;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
	border-radius: 4px;
	background: var(--hero-background);
	padding: 8px 16px;
}

.footer-btn {
	width: 165px;
	height: 100%;
	padding: 8px 24px;
	display: block;
	background: var(--button-color);
	border-radius: 4px;
	border: none;
	box-shadow: none;
	transition-property: background-color;
	transition-duration: var(--time);
	transition-timing-function: var(--timing-function);
}

.footer-btn-icon {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.04em;
	color: var(--white-background);
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 16px;
}

@media screen and (max-width: 767px) {
	.footer>.container, .tablet {
			display: flex;
			flex-direction: column;
			align-items: center;
	    gap: 72px;
	}
	.footer-wrap, .footer-aside,
		.container-form {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
		.container-form>.form-title {
			text-align: center;
			margin-bottom: 16px;
		}
}

.form-title {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: var(--white-background);
}



/* MODAL */

.backdrop {
	position: fixed;
	top: 0;
	z-index: 3;
	width: 100%;
	height: 100%;
	background: rgba(46, 47, 66, 0.4);
	transition: opacity var(--time) var(--timing-function), visibility var(--time) var(--timing-function);
}


.modal {
	position: absolute;
	width: calc(100% - 32px);
	min-height: 524px;
	overflow: scroll;
	background-color: var(--modal-backgraund);
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(1) rotate(0);
	transition: transform var(--time) var(--timing-function);
	padding: 72px 16px 24px;
}

@media screen and (min-width: 428px) {
	.modal {
		width: 392px;
	}
}

.backdrop.is-hidden .modal {
	transform: translate(-50%, -50%) scaleY(0) rotate(-90deg);
}

.modal-close-btn {
	width: 24px;
	height: 24px;
	border-radius: 50%;
	cursor: pointer;
	border: 1px solid rgba(0, 0, 0, 0.1);
	background: var(--accent);
	color: var(--primary-text-color);
	position: absolute;
	top: 24px;
	right: 24px;
	transition-property: color, background-color;
	transition-duration: var(--time);
	transition-timing-function: var(--timing-function);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
	color: #ffffff;
	background-color: var(--pressed-state);
}

.modal-icon-btn {
	width: 100%;
	height: 100%;
	fill: currentColor;
}

.is-hidden {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
}

.modal-title {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	text-align: center;
	letter-spacing: 0.02em;
	color: var(--primary-text-color);
	margin-bottom: 16px;
}

.modal-field {
	margin-bottom: 8px;
}

.input-wrap {
	position: relative;
	border-radius: 4px;
}

.modal-input {
	width: 100%;
	height: 40px;
	border: 1px solid rgba(57, 58, 83, 0.4);
	border-radius: 4px;
	font-family: 'Roboto';
	font-style: normal;
	font-size: 12px;
	line-height: 1.16;
	letter-spacing: 0.01em;
	padding-left: 38px;
	outline: transparent;
	transition-property: border-color;
	transition-duration: var(--time);
	transition-timing-function: var(--timing-function);
}

.modal-input:focus {
	border-color: var(--button-color);
}

.modal-input:focus+.input-icon {
	fill: var(--button-color);
}

.input-icon {
	position: absolute;
	left: 16px;
	top: 50%;
	transform: translateY(-50%);
	fill: var(--dark);
}

.input-text {
	display: block;
	margin-bottom: 4px;
	font-family: 'Roboto';
	font-style: normal;
	font-size: 12px;
	line-height: 1.17;
	letter-spacing: 0.04em;
	color: var(--subtle-text);
}

.modal-textarea {
	margin-bottom: 16px;
}

.user-textarea {
	width: 100%;
	height: 120px;
	border: 1px solid rgba(57, 58, 83, 0.4);
	border-radius: 4px;
	font-family: 'Roboto';
	font-style: normal;
	display: block;
	font-size: 12px;
	line-height: 1.17;
	letter-spacing: 0.04em;
	outline: transparent;
	padding: 8px 16px;
	color: var(--primary-text-color);
	resize: none;
}

.user-text {
	margin-bottom: 4px;
	font-family: 'Roboto';
	font-style: normal;
	font-size: 12px;
	line-height: 1.17;
	letter-spacing: 0.01em;
	color: var(--dark);
}

.modal-check {
	margin-bottom: 24px;
}

.check-text {
	font-family: 'Roboto';
	font-style: normal;
	font-size: 12px;
	line-height: 1.17;
	letter-spacing: 0.04em;
	color: var(--subtle-text);
	display: flex;
	align-items: center;
}

.check-text span {
	width: 16px;
	height: 16px;
	border: 1px solid rgba(46, 47, 66, 0.4);
	border-radius: 2px;
	margin-right: 8px;
	display: flex;
	align-items: center;
	justify-content: center;
	fill: transparent;
}

.input-check:checked+.check-text span {
	background-color: var(--pressed-state);
	border: none;
	border-radius: 2px;
}

.input-check:focus+.check-text span {
	border-color: var(--button-color);
}

.check-link {
	font-family: 'Roboto';
	font-style: normal;
	font-size: 12px;
	line-height: 1.33;
	letter-spacing: 0.04em;
	text-decoration-line: underline;
	color: var(--button-color);
}

.input-button {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.04em;
	cursor: pointer;
	color: var(--white-background);
	background-color: var(--button-color);
	border-radius: 4px;
	display: block;
	min-width: 169px;
	min-height: 56px;
	margin: 0 auto;
	border: 1px solid rgba(0, 0, 0, 0.15);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	transition-property: background-color;
	transition-duration: var(--time);
	transition-timing-function: var(--timing-function);
}

.input-button:hover,
.input-button:focus {
	background-color: var(--pressed-state);
}

/* SECTION BUTTON META*/

.meta-section {
padding-top: 48px;
padding-bottom: 48px;
}

.hidden-navigation {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

@media screen and (max-width: 767px) {
.meta-btn-top {
		display: flex;
		flex-direction: row;
		justify-content: start;
		gap: 16px 24px;
	}

} 

.btn {
	width: 100%;
	height: 40px;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.04em;
	cursor: pointer;
	color: var(--button-color);
	background-color: var(--light);
	display: block;
	border: 1px solid var(--accent);
	border-radius: 4px;
	padding: 8px 16px;
	transition-property: background-color, color, box-shadow, border-color;
	transition-duration: var(--time);
	transition-timing-function: var(--timing-function);
}

.btn:hover {
	background-color: var(--pressed-state);
	color: var(--white-background);
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
		0px 2px 1px rgba(0, 0, 0, 0.08),
		0px 2px 2px rgba(0, 0, 0, 0.12);
	border-color: transparent;
}

/* WORK */

.work-list {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	margin-bottom: 48px;
}

.work-list:not(:last-child) {
	margin-bottom: 48px;
}
.work-cover-wrap {
	position: relative;
	overflow: hidden;
}

.work-cover-text {
	position: absolute;
	top: 0;
	font-family: 'Roboto';
	font-style: normal;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: var(--light);
	background: var(--button-color);
	height: 100%;
	padding: 40px 32px 164px;
	transform: translateY(100%);
	transition: transform var(--time) var(--timing-function);
}

.work-link {
	display: block;
	transition-property: box-shadow;
	transition-duration: var(--time);
	transition-timing-function: var(--timing-function);
}

.work-link:hover {
	box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.work-aside {
	padding: 0px 16px;
	padding-top: 32px;
	padding-bottom: 32px;
	border: 1px solid var(--accent);
}

.title-link {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	color: var(--primary-text-color);
	margin-bottom: 8px;
}

.subtitle-link {
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: var(--title-text-color);
}



