/* основной бренд  #4d5ae5  Primary brand*/
/* нажатое состояние #404bbf  Pressed state*/
/* темній #2e2f42  Dark */
/* успех #31D0AA Success*/
/* текст #434455 Text*/
/* тонкий текст #8e8f99 Subtle Text*/
/* фкцент #e7e9fc Accent*/
/* свет #f4f4fd Light */
/* модальное наложение navy blue modal #2e2f42 Modal overlay*/
/* предістория героя grey #2e2f42 Hero background*/
/* белій фон #ffffff White background*/
/* модальній фон dairy #fcfcfc Modal background*/

:root {
	/* H 1 2 3 */
	--primary-text-color: #2E2F42;
	/* P */
	--title-text-color: #434455;
	/* BTN */
	--button-color: #4D5AE5;
	/* WHITE BACKGROUND */
	--white-background: #ffffff;
	/* MODAL BACKGRAUND */
	--modal-backgraund: #fcfcfc;
	/* HERO BACKGROUND */
	--hero-background: #2e2f42;
	/* LIGHT */
	--light: #f4f4fd;
	/* ACCENT */
	--accent: #e7e9fc;
	/* Subtle Text */
	--subtle-text: #8e8f99;
	/* Success */
	--success: #31D0AA;
	/* Dark */
	--dark: #2e2f42;
	/* Pressed state */
	--pressed-state: #404bbf;
	--hero-bg: linear-gradient(rgba(46, 47, 66, 0.7),
			rgba(46, 47, 66, 0.7));
	/* BORDER CLIENT */
	--client: rgba(142, 143, 153, 1);
	/* footer-hover */
	--green: #31D0AA;
	--time: 250ms;
	--timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

ul {
	margin: 0;
	padding-left: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

body {
	font-family: 'Roboto', sans-serif;
	color: var(--title-text-color);
	background-color: var(--white-background);
	font-style: normal;
}

.list {
	list-style: none;
}

.link {
	text-decoration: none;
}

.no-scroll {
	overflow: hidden;
}

a {
	text-decoration: none;
	margin: 0 auto;
}

.container {
	width: 1158px;
	padding-right: 15px;
	padding-left: 15px;
	margin: 0 auto;
}
/* MEDIA */

.container {
	max-width: 428px;
	width: 100%;
	padding-left: 16px;
	padding-right: 16px;
	margin-left: auto;
	margin-right: auto;
}
@media screen and (min-width: 480px) {
	.container {
		max-width: 480px;
		width: 100%;
	}
}
/* HERO */
.hero-section {
	max-width: 1440px;
	background-color: var(--primary-text-color);
	background-image: var(--hero-bg), url(../images/hero-img1.jpg);
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: cover;
	padding-top: 112px;
	padding-bottom: 112px;
	margin: 0 auto;
}
.hero-subject {
	width: 320px;
	font-weight: 700;
	font-size: 36px;
	line-height: 1.11;
	letter-spacing: 0.02em;
	text-align: center;
	color: var(--white-background);
	margin: 0 auto;
	margin-bottom: 72px;
}
.hero-btn {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.04em;
	cursor: pointer;
	color: var(--white-background);
	background-color: var(--button-color);
	border-radius: 4px;
	display: block;
	margin: 0 auto;
	padding: 16px 32px;
	border: 1px solid transparent;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	transition-property: background-color;
	transition-duration: var(--time);
	transition-timing-function: var(--timing-function);
}
/* SECTION FEATURE*/

.section-feature {
	padding-top: 96px;
	padding-bottom: 96px;
}

.hidden-feature {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}
.feature-container {
	display: none;
}

.feature-item:not(:last-child) {
	margin-bottom: 72px;
}
.feature-title {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.11;
	text-align: center;
	letter-spacing: 0.02em;
	color: var(--primary-text-color);
	margin-bottom: 8px;
}
.feature-subtitle {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: var(--title-text-color);
}
/* IMAGES */

.images {
	display: none;
}

/* OUR TEAM */
.team {
	background-color: var(--light);
	padding-top: 96px;
	padding-bottom: 96px;
}
.team-titl {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.11;
	text-align: center;
	letter-spacing: 0.02em;
	text-transform: capitalize;
	color: var(--primary-text-color);
	margin-bottom: 72px;
}

.team-item {
	width: 264px;
	margin-left: auto;
	margin-right: auto;
	background-color: #ffffff;
	border-radius: 0px 0px 4px 4px;
} 
.team-soc-item {
	width: 40px;
	height: 40px;
}
.team-aside {
	padding: 32px 16px;
	text-align: center;

}
.team-title {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	color: var(--primary-text-color);
	margin-bottom: 8px;
}
.team-subtitle {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: var(--title-text-color);
	margin-bottom: 8px;
}
.team-soc-list {
	display: flex;
	justify-content: center;
	gap: 64px 24px;
	
}
.team-soc-link {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: var(--button-color);
	display: flex;
	align-items: center;
	justify-content: center;
	transition-property: background-color;
	transition-duration: var(--time);
	transition-timing-function: var(--timing-function);
}
.team-soc-icon {
    fill: var(--light);
}

/* CUSTOMERS */

.client {
	background-color: var(--modal-backgraund);
	padding-top: 96px;
	padding-bottom: 96px;
}
.client-titl {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-size: 36px;
	line-height: 1.11;
	text-align: center;
	letter-spacing: 0.02em;
	text-transform: capitalize;
	margin-bottom: 72px;
}
.client-soc-list {
	display: flex; 
	flex-wrap: wrap; 
	justify-content: center;
	gap: 72px 16px;
}  
.client-soc-item {
	width: calc((100% - 16px) / 2);
}
.client-soc-link {
	width: 100%;
	height: 88px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid var(--client);
	border-radius: 4px;
	color: var(--subtle-text);
	transition-property: color, border-color;
	transition-duration: var(--time);
	transition-timing-function: var(--timing-function);
}
.client-soc-icon {
	fill: currentColor;
}





