.container {
	max-width: 768px; 
	width: 100%;
}
/* HEADER */

.header {
    background-color: var(--white-background);
    border-bottom: 1px solid var(--accent);
    padding-top: 24px;
    padding-bottom: 24px;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

@media screen and (min-width:767px) {
	.menu-open-btn {
		display: none;
	}
}
.header-navigation {
    display: flex;
    align-items: center;
    margin-right: auto;
}
.header-container {
    display: flex;
}

.logo {
    margin-right: 76px;
}

.header-navigation .logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-style: normal;
    color: var(--button-color);

}
.header-navigation .logos {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-style: normal;
    color: var(--primary-text-color);
} 
.header-list .link {
	position: relative;
}

.header-list {
	display: flex;
	gap: 40px;
}

.header-list {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	color: var(--primary-text-color);
	transition: color var(--transition-dur-and-func);
}

.header-list:hover,
.header-list:focus {
	color: var(--pressed-state);
}

.active {
	color: var(--pressed-state);
}

.active::after {
	content: '';
	display: block;
	position: absolute;
	width: 100%;
	height: 4px;
	left: 0px;
	bottom: -25px;
	background-color: var(--pressed-state);
	border-radius: 2px;
}

.active {
	color: var(--pressed-state);
}

.address {
	font-style: normal;
}

.address-list {
	align-items: center;
	margin-right: auto;
	gap: 40px;
	display: block;
}
.address-tel-link {
  font-size: 12px;
	line-height: 1.17;
	letter-spacing: 0.04em;
	color: var(--title-text-color);
	transition-property: color;
	transition-duration: var(--time);
	transition-timing-function: var(--timing-function);
}
.address-mail-link {
	font-size: 12px;
	line-height: 1.17;
	letter-spacing: 0.04em;
	color: var(--title-text-color);
	transition-property: color;
	transition-duration: var(--time);
	transition-timing-function: var(--timing-function);
}
/* .address-link:not(:last-child) {
	margin-bottom: 12px;
} */

.address-link:hover,
.address-link:focus {
	color: var(--pressed-state);
}


/* HERO */
.hero-section {
	background-color: var(--primary-text-color);
	background-image: var(--hero-bg), url(../images/hero-bg-tab.jpg);
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: cover;
	padding-top: 112px;
	padding-bottom: 112px;
	margin: 0 auto;
}
@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
	.hero-section {
		background-image: var(--hero-bg), url(../images/hero-bg-tab2x.jpg);
	}
}

.hero-subject {
	width: 496px;
	font-size: 56px;
	line-height: 1.07;
	margin-bottom: 36px;
}
/* SECTION FEATURE*/
.feature-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-right: auto;
	gap: 72px 24px; 
}
.feature-item {
	width: calc((100% - 24px) / 2);
}
/* IMAGES */

/* OUR TEAM */
.team {
	background-color: var(--light);
	padding-top: 96px;
	padding-bottom: 96px;
}
.team-list {
	display: flex;
  flex-wrap: wrap;
	gap: 64px 24px; 
}

.team-soc-link {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: var(--button-color);
	display: flex;
	align-items: center;
	justify-content: center;
	transition-property: background-color;
	transition-duration: var(--time);
	transition-timing-function: var(--timing-function);
}
.team-soc-link:hover,
.team-soc-link:focus {
	background-color: var(--pressed-state);
}

/* CUSTOMERS */

.client {
	background-color: var(--modal-backgraund);
	padding-top: 96px;
	padding-bottom: 96px;
}
.client-soc-list {
	display: flex;
	justify-content: center;
	gap: 72px 24px;
}
.client-soc-item {
	width: calc((100% - 72px) / 3);
}

.client-soc-link:hover,
.client-soc-link:focus {
	border-color: var(--pressed-state);
	color: var(--pressed-state);
}

/* FOOTER */

.container-bottom {
	display: flex;
} 
/* .footer-form {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 80px;
} */

.footer-wrap {
	min-width: 264px;
}

.footer .content {
	width: 264px;
}
.footer-aside {
	margin-left: 24px;
}
.footer-input {
	width: 264px;
	height: 40px;
	font-style: normal;
	font-size: 12px;
	line-height: 2;
	letter-spacing: 0.04em;
	border: 1px solid #FFFFFF;
	color: #ffffff;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
	border-radius: 4px;
	background: var(--hero-background);
}
/* FOOTER FORM */

/* .footer-form {
	display: flex;
	align-items: center;
	justify-content: center;
} */


