.container {
	max-width: 768px; 
	width: 100%;
}
/* HERO */
.hero-section {
	margin: 0 auto;
}

.hero-subject {
	width: 496px;
	font-size: 56px;
	line-height: 1.07;
	letter-spacing: 0.02em;
	text-align: center;
	color: var(--white-background);
	margin: 0 auto;
	margin-bottom: 36px;
}
/* SECTION FEATURE*/
.feature-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-right: auto;
	gap: 72px 24px; 
}
.feature-item {
	width: calc((100% - 24px) / 2);
}
/* IMAGES */

/* OUR TEAM */
.team {
	background-color: var(--light);
	padding-top: 96px;
	padding-bottom: 96px;
}
.team-list {
	display: flex;
  flex-wrap: wrap;
	gap: 64px 24px; 
}

.team-soc-link {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: var(--button-color);
	display: flex;
	align-items: center;
	justify-content: center;
	transition-property: background-color;
	transition-duration: var(--time);
	transition-timing-function: var(--timing-function);
}
.team-soc-link:hover,
.team-soc-link:focus {
	background-color: var(--pressed-state);
}

/* CUSTOMERS */

.client {
	background-color: var(--modal-backgraund);
	padding-top: 96px;
	padding-bottom: 96px;
}
.client-soc-list {
	display: flex;
	justify-content: center;
	gap: 72px 24px;
}
.client-soc-item {
	width: calc((100% - 72px) / 3);
}

.client-soc-link:hover,
.client-soc-link:focus {
	border-color: var(--pressed-state);
	color: var(--pressed-state);
}

/* IMAGES */

/* .images {
	display: none;
}  */




